<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12227652_10208439231247859_5115518642405087650_n.jpg?oh=4e5de475de22cb59c455d688b0368f85&oe=56BA3630" alt="Hover Text goes here" width="100%">
                </div>
                <div class="col-md-8">
                    <p>
                        My name is Indi. I am 20 years old and I currently live in Omaha, Nebraska with my roommates and my lazy dog, Tatertot. I also have an affair going on with the creator of this site, who is quite the strapping young buck.
                    </p>
                    <br><br>
                    <p>
                        I study fine arts and make a good part of my living doing artwork. Most of my work involves bones; I carve and paint these pieces into new, living objects removed from their deathly origins just enough to soothe fear. To integrate bone and anatomy into the visual arts means an acceptance of mortality, at least partially. In this era, materialism is rampant and so many people are very afraid of death and dying; learning to accept this as a part of life is beneficial to one’s psyche and allows for better long-term planning not just for the individual, but for the world as it is and as it will be.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<span>A/N: I'm sorry, I have no idea what I'm doing, so loooooooong</span>
