<!DOCTYPE html>
<html>
    <head>
        <base= "/">
        <title>Magically Capricious Arts</title>
        <!-- <link rel="stylesheet" href="../../../vendors/bootstrap/dist/css/bootstrap.min.css" charset="utf-8"> -->
        <link rel="stylesheet" href="../../../assets/style.css" charset="utf-8">
        <link rel="stylesheet" href="../../../assets/custom_bootstrap.css" media="screen" title="no title" charset="utf-8">
        <script src="../../../vendors/angular/angular.js" charset="utf-8"></script>
        <script src="../../../vendors/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="../../../vendors/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
        <script src="../../../vendors/angular-route/angular-route.min.js" charset="utf-8"></script>
        <script src="../../../vendors/angular-ui-router/release/angular-ui-router.js" charset="utf-8"></script>
        <script src="../../../vendors/lodash.min.js" charset="utf-8"></script>
        <script src="../../main.js" charset="utf-8"></script>
        <script src="../../routes.js" charset="utf-8"></script>
        <script src="../home/home.js" charset="utf-8"></script>
        <script src="../shop/shop.js" charset="utf-8"></script>
        <script src="../about/about.js" charset="utf-8"></script>
        <script src="../contact/contact.js" charset="utf-8"></script>
        <script src="../gallery/gallery.js" charset="utf-8"></script>
    </head>
    <body ng-app="magecap">
        <nav-bar></nav-bar>
        <script src="../navbar/navbar.js" charset="utf-8"></script>

        <div ui-view></div>
    </body>
</html>
