<div class="container">
    <div class="row" id="shop-focus" height="200px">
        <div class="col-md-1">
        </div>
        <div class="col-md-3 block">
            <div class="carousel slide" id="focus-carousel" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li ng-class="{'active': key===0}" ng-repeat="(key, value) in vm.focusedListing().pictureLinks" data-target="#focus-carousel" data-slide-to={{key}}></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item shop-item-focus" ng-class="{'active': key===0}" ng-repeat="(key, url) in vm.focusedListing().pictureLinks">
                        <img ng-src={{url}} alt="" class="shop-image"/>
                    </div>
                </div>
                <a href="#/shop#focus-carousel" class="left carousel-control" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a href="#/shop#focus-carousel" class="right carousel-control" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-md-7 block">
            <h2>
                {{vm.focusedListing().name}}
            </h2>
            <p>
                {{vm.focusedListing().description}}
            </p>
        </div>
    </div>
    <div class="row" id="shop-space">
        <div class="col-sm-1">
            Literally empty space to center things
        </div>
        <div class="col-md-10 block" id="shop-gallery">
            <div ng-repeat="item in vm.listings()" class="shop-item">
                <img class="shop-image" src={{item.pictureLinks[0]}} alt={{item.name}} ng-click="vm.setFocus(item)"/>
                <span class="shop-overlay" ng-click="vm.setFocus(item)">
                    {{item.name}}
                </span>
            </div>
            <span class="stretch"></span>
        </div>
    </div>
</div>
